@charset "utf-8";

/* LayerPopup */
.layerPopup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.layerPopupBg {
	width: 100%;
	height: 100%;
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE8 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	/* IE7 and olders */
	opacity: 0.5;
}

.layerPopupWrapper {
	position: absolute;
	/* top: 200px; left: 85px; width: 256px; height: 126px;*/
	background: url("/common/kakaopay/images/bg_popupWrapper.png") no-repeat;
}

.layerPopupBody {
	text-align: center
}

.layerPopupBody p {
	padding: 25px 0 22px;
	font-size: 13px;
}

.layerPopupFooter {
	position: relative;
	width: 256px;
}

.layerPopupFooter button {
	position: absolute;
	top: 0;
	width: 112px;
	height: 34px;
	border: none;
	background: none;
}

.layerPopupFooter button span {
	
}

.layerPopupFooter .btnLeft {
	left: 12px;
}

.layerPopupFooter .btnCenter {
	left: 72px;
}

.layerPopupFooter .btnRight {
	right: 12px;
}

/*도움말 팝업 추가*/
.layerHelpWrapper {
	position: absolute;
	/* top: 200px; left: 35px; width: 356px; height: 156px;*/
	background: url("/common/kakaopay/images/bg_helpWrapper.png") no-repeat;
}

.layerPopup_help {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.layerPopupFooter .btnHelp {
	left: 122px;
	top: 5px;
	*left: 70px;
}