@charset "utf-8";
body {}

/* HEADER */
#guideHeader{position:relative;min-width:768px;width:100%;height:40px;background:url('../images/bg_header.jpg') 0 0 repeat-x;z-index:30;}
#guideHeader h1 { font-size:20px; font-weight:bold; color:#fff; text-align:left; line-height:40px; padding:0 14px;}
.header h1{height:40px; padding:0 10px; line-height:40px; text-align:left; color:#fff;}
.header h1 img{width:auto;height:30px;vertical-align:middle;}
.header .txt{ position:absolute; top:0; right:0; padding:0 30px 0 0;color:#fcab0d;font-size:14px;line-height:40px;font-weight:bold;}
.header .txt a{color:#b9b9b9;}


/* SNB */
.amenu{position:relative;float:left;height:100%;border-right:2px solid #999;background:#f3f3f3;z-index:40;}
.aml{overflow-y:auto;overflow-x:hidden;position:relative;height:100%;}
.aml ul{margin:0;padding:0;}
.aml ul li {position:relative;vertical-align:top;zoom:1;}
.aml ul li a{display:block;width:183px;height:50px;padding:0 3px 0 12px;line-height:50px;color:#333359;background:url("../images/bg_sect.png") right 0 no-repeat;}
.aml ul li a.opened{background:#efeff0 url("../images/bg_sect.png") right -50px no-repeat;color:#333359;}
.aml ul li a.opened span{font-weight:800;z-index:2;} 
.aml ul li div{clear:both;height:auto;}
.aml ul li div ul{border-bottom:0;background:#efeff0;} 
.aml ul li li{position:relative;vertical-align:top;zoom:1;}
.aml ul li li a{display:block;position:relative;height:34px;padding:0 3px 0 12px;line-height:35px;border-bottom:1px solid #ccc;font-weight:normal;text-decoration:none;color:#444;background:#f6f6f6;}
.aml ul li li a.closed{font-weight:normal;color:#444;background:#f6f6f6;}
.aml ul li li a.closed.opened{font-weight:bold;color:#444;background:#f6f6f6;}
.aml ul li li a:hover{background:#e2e2ed;}

.aml ul li li div{clear:both;height:auto;}
.aml ul li li div ul{border-bottom:0;background:#777;} 
.aml ul li li li{margin:0;}
.aml ul li li li a{font-weight:normal;background:#777;padding:8px 10px 8px 15px;border-bottom:1px solid #666;} 
.aml ul li li li a span{color:#fff;} 
.aml ul li li li a span strong{font-weight:normal;}
.aml ul li li li a.closed{color:#fff;}
.aml ul li li li a.closed.opened{font-weight:bold;z-index:2;border:0;background:#777;}

.guide-tit-h1 {padding:20px 0; font-size:20px; font-weight:800; color:#000; text-align:center;}
.nanum {}
.nanum span { font-weight:800;}
.nanum_balgun * {font-family:'Nanum Barun Gothic','Malgun Gothic',dotum;}
.nanum_balgun span {font-weight:800;}
.font_s12 {font-size:12px;}
.font_s13 {font-size:13px;}
.font_s14 {font-size:14px;}
.font_s15 {font-size:15px;}
.font_s16 {font-size:16px;}
.font_s18 {font-size:18px;}
.font_s20 {font-size:20px;}
.font_s22 {font-size:22px;}
.font_s24 {font-size:24px;}
.font_s26 {font-size:26px;}
.font_s28 {font-size:28px;}
.font_s30 {font-size:30px;}
.font_s40 {font-size:40px;}
.font_s50 {font-size:50px;}
.font_s60 {font-size:60px;}

.guide-section {position:relative; padding:15px 40px 20px;}
.guide-ol-list {padding-bottom:20px;}
.guide-ol-list > li:first-child {padding-top:0;}
.guide-ol-list > li {padding-top:20px;}
.guide-ol-list strong {font-size:14px; font-weight:800;}
.guide-ol-list .cont {padding:5px 0 0 27px;}
.guide-ol-list .cont pre {font-size:13px;}
.guide-ul-list > li {margin-top:5px;padding-right:10px;}
.guide-ul-list > li:before {display:block; float:left; content:'-'; margin-left:-10px;}
.guide-ul-list > li:after { display:block; content:''; clear:both;}
.guide-tit-h2 {margin:10px 0 15px; font-size:16px; color:#000;}
.guide-tit-h2 span { font-size:12px; color:#666;}
.guide-tit-h2 + .guide-ol-list {padding-left:20px;}
.guide-tit-h2:before {display:inline-block; content:''; width:4px; height:4px; margin-right:5px; background:#000; vertical-align:3px; }
.guide-tit-h3 {margin:10px 0 10px; font-size:14px;}
.guide-data-table01 {}
.guide-data-table01 table {width:100%;}
.guide-data-table01 th {height:25px; background:#eee; text-align:center; border:1px solid #ccc;}
.guide-data-table01 td {height:25px; padding:0 5px; border:1px solid #ccc;}

.guide-data-table02 table {table-layout:fixed; width:100%;}
.guide-data-table02 th {background:#eee; padding:5px 10px; border:1px solid #ccc;}
.guide-data-table02 td {padding:0 10px; padding:5px 10px; border:1px solid #ccc;}
.align-c {text-align:center;}
.align-l {text-align:left;}
.align-r {text-align:right;}

.txt-info01 {margin:10px 0;}
.mt10 {margin-top:10px !important;}

pre {margin-top:10px; padding:4px; border:1px dashed #666; background:#eee; line-height:20px;}
.guide-c01 { color:#ff0000;}

.pretag_open {border:1px solid #ccc; padding:5px;}
.guide-lnk {display:inline-block; margin-bottom:3px; color:#333; text-decoration:underline;}