@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean");
.kidsMarketInsert {
  padding: 16px 0;
  background: #fff;
}
.kidsMarketInsert * {
  font-family: "Noto Sans KR", sans-serif;
}

/* 20200716 수정 : 간격 수정 */
.kidsMarketInsert__titArea {
  margin: 0 15px 17px;
  position: relative;
}

/* 20200716 수정 : 간격 수정 */
.kidsMarketInsert__tit {
  font-size: 17px;
  letter-spacing: -0.05em;
  color: #000;
  font-weight: 500;
}

.kidsMarketInsert__more {
  position: absolute;
  bottom: 3px;
  right: 0;
  font-size: 12px;
  color: #1a3f66 !important;
  background-image: url("../../images/pcweb/kidsMarket/kids_arwRight_more.png");
  background-size: 5px 8px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 10px;
}

.kidsMarketInsert__stylingArea {
  position: relative;
}

.kidsStyling {
  width: 100%;
  padding: 0 7.5px;
  box-sizing: border-box;
}

/* 20201130 수정 : 유저스타일링 개편 */
.kidsStyling__list {
  height: auto !important;
}
.kidsStyling__list::after {
  content: "";
  display: block;
  clear: both;
}

.kidsStyling__item {
  height: auto !important;
}
.kidsStyling__item > a {
  margin: 0 7.5px;
  display: block;
}

.kidsStyling__imgArea {
  margin-bottom: 7.5px;
  overflow: hidden;
}

/* 20201130 수정 : 유저스타일링 개편 */
.kidsStyling__img {
  display: block;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kidsStyling__profilePic {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}

.kidsStyling__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #000;
}

/* 20201130 수정 : 유저스타일링 개편 */
.kidsMarketInsert__bannerArea {
  margin: 25px 15px 0;
}
.kidsMarketInsert__bannerArea img {
  width: 100%;
}

/* 20201130 추가 : 유저스타일링 개편// */
.kidsMarketInsert__tit {
  font-weight: 700;
}
.kidsMarketInsert__tit span {
  color: #1a3f66;
}

.kidsMarketInsert__btnArea {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 0;
}

.kidsMarketInsert__btn {
  display: inline-block;
  height: 34px;
  line-height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #9a9a9a;
  font-size: 14px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.kidsMarketInsert__btn.kidsMarketInsert__btn--black {
  background: #242424;
  border-color: #242424;
  color: #fff;
}

.kidsMarketInsert__noneCase {
  background: #f0f0f0;
  margin: 0 15px;
  padding: 37.5px 0;
  font-size: 0;
  text-align: center;
}
.kidsMarketInsert__noneCase a {
  display: inline-block;
  padding-top: 60px;
  background-image: url("../../images/mobile/kids/kids_noneCase_mo.png");
  background-size: 50px;
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 13px;
  letter-spacing: -0.05em;
  font-weight: 500;
}

.kidsStyling__addItem {
  display: block;
  position: relative;
  padding-top: 100%;
  background: #f0f0f0;
}
.kidsStyling__addItem span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding-top: 60px;
  background-image: url("../../images/mobile/kids/kids_noneCase_mo.png");
  background-size: 50px;
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 13px;
  letter-spacing: -0.05em;
  font-weight: 500;
  text-align: center;
}

.kidsMarketInsert__viewMoreArea {
  margin-top: 30px;
}

.kidsMarketInsert__viewMore {
  display: block;
  width: 211px;
  height: 34.5px;
  line-height: 32.5px;
  border: 1px solid #bebebe;
  font-size: 0;
  color: #333;
  background: #fff;
  text-align: center;
  margin: 0 auto;
}
.kidsMarketInsert__viewMore span {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
}
.kidsMarketInsert__viewMore i {
  display: inline-block;
  vertical-align: middle;
  width: 6.5px;
  height: 11px;
  background-image: url("../../images/mobile/kids/kids_viewMore.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
  margin-top: 1px;
}

/* //20201130 추가 : 유저스타일링 개편 *//*# sourceMappingURL=kidsMarketInsert_mo.css.map */