/* PIONNET Web Standardization Team (//www.pionnet.co.kr/) 20200812 */
.mnBx {
  overflow: hidden;
  position: relative;
  width: 1080px;
  margin: 0 auto;
}

.spMore {
  overflow: hidden;
  margin-top: 40px;
  text-align: center;
}
.spMore button {
  display: inline-block;
  width: 230px;
  height: 60px;
  background: #191919;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 60px;
  vertical-align: top;
  outline: none;
}

.mnTitle {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 4px;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  font-family: "Mukta";
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mnTitle:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 4px;
  background: #191919;
}
.mnTitle em {
  display: inline-block;
  margin-left: 17px;
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  font-family: "Noto Sans KR";
}

.mnTabs {
  position: absolute;
  right: 0;
  top: 8px;
  z-index: 2;
}
.mnTabs button {
  display: block;
  float: left;
  min-width: 60px;
  padding: 0 16px;
  font-size: 15px;
  line-height: 36px;
  box-sizing: border-box;
  outline: none;
}
.mnTabs button[aria-selected=true], .mnTabs button :hover {
  background: #191919;
  color: #fff;
  font-weight: 700;
}
.mnTabs button + button {
  margin-left: 8px;
}

.mainPromo {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 500px;
}
.mainPromo .bnr {
  width: 100%;
  height: 500px;
}
.mainPromo .bnr .swiper-slide {
  width: 100%;
  height: 500px;
}
.mainPromo .bnr a {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
.mainPromo .bnr .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  color: #fff;
  transform: translate(-500px, -50%);
}
.mainPromo .bnr .txt span, .mainPromo .bnr .txt em {
  display: block;
  overflow: hidden;
  width: 500px;
  transition: all 0.5s;
  transition-timing-function: ease-out;
  will-change: transform;
}
.mainPromo .bnr .txt strong {
  display: block;
  overflow: hidden;
  max-height: 60px;
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
}
.mainPromo .bnr .txt em {
  font-weight: 400;
  margin-top: 17px;
  font-size: 18px;
  line-height: 27px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mainPromo .bnr.ready .txt span {
  opacity: 0.05;
  transform: translateX(70px);
  transition-delay: 0.55s;
}
.mainPromo .bnr.ready .txt em {
  opacity: 0.05;
  transform: translateX(90px);
  transition-delay: 0.7s;
}
.mainPromo .bnr.ready .activeBn .txt * {
  opacity: 1;
  transform: translateX(0);
}
.mainPromo .swiperCtr.type1 a {
  top: 222px;
  margin-top: 0;
}
.mainPromo .swiperUtl {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 2;
  transform: translateX(-50%);
}
.mainPromo .swiperUtl > div {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.mainPlan {
  margin-top: 120px;
}
.mainPlan .mnTitle {
  margin-bottom: 20px;
}
.mainPlan dl {
  position: relative;
  width: 100%;
  height: 520px;
  padding-left: 580px;
  box-sizing: border-box;
}
.mainPlan dl + dl {
  margin-top: 120px;
}
.mainPlan dt {
  padding: 20px 48px 0 0;
}
.mainPlan dt * {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mainPlan dt strong {
  font-size: 30px;
  line-height: 45px;
}
.mainPlan dt span {
  font-size: 18px;
  line-height: 20px;
}
.mainPlan .bnBx {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 520px;
  height: 520px;
}
.mainPlan .bnBx a {
  display: block;
  width: 100%;
  height: 100%;
}
.mainPlan .bnBx a img {
  width: 100%;
  height: auto;
  transform: inherit;
  transition: all 0.3s ease;
}
.mainPlan .bnBx a:hover img {
  transform: scale(1.04);
}
.mainPlan .slideBx {
  position: absolute;
  top: 152px;
  left: 580px;
}
.mainPlan .slideBx > div {
  position: relative;
  width: 452px;
}
.mainPlan .goods_list {
  overflow: hidden;
  width: 462px;
  height: 306px;
  margin: 0;
}
.mainPlan .goods_list > ul {
  width: auto;
  margin: 0;
}
.mainPlan .goods_list > ul > li {
  width: 144px;
  margin: 0;
}
.mainPlan .goods_list .tum {
  width: 144px;
  height: 192px;
}
.mainPlan .goods_list .info {
  width: 144px;
  padding: 16px 0 0;
  text-align: center;
}
.mainPlan .goods_list .gdCost {
  margin-top: 4px;
}
.mainPlan .goods_list .gdCost .prc {
  float: none;
}
.mainPlan .goods_list.noSlide > ul > li {
  margin-right: 10px;
}
.mainPlan .swiperCtr a {
  top: 73px;
  margin-top: 0;
}
.mainPlan .swiperCtr .prev {
  left: -40px;
}
.mainPlan .swiperCtr .next {
  right: -40px;
}
.mainPlan .type2 {
  padding: 0 580px 0 48px;
}
.mainPlan .type2 .bnBx {
  left: auto;
  right: 0;
}
.mainPlan .type2 .slideBx {
  left: 48px;
}

.gecko.pc .mainPlan .goods_list .tum {
  zoom: 0.9999;
}

.mainNew {
  margin-top: 120px;
}
.mainNew .mnTitle {
  max-width: 800px;
}

.bstNew_tab {
  position: relative;
  margin-top: 20px;
}
.bstNew_tab + .bstNew_tab {
  display: none;
}

.lookBook {
  overflow: hidden;
  width: 100%;
  margin-top: 80px;
  background: #F3F3F3;
}
.lookBook > div {
  overflow: hidden;
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding: 120px 0;
}
.lookBook .bnr {
  width: 1290px;
  height: 573px;
  margin: 45px 0 0 -105px;
}
.lookBook .bnr li a {
  display: block;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
  transform: scale(0.6);
}
.lookBook .bnr a * {
  display: block;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
.lookBook .bnr img {
  width: 430px;
  height: 574px;
}
.lookBook .bnr .txt {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px 30px;
  background: rgba(25, 25, 25, 0.9);
  transition: all 0.4s;
  transform: translateY(102%);
}
.lookBook .bnr .txt strong {
  max-height: 76px;
  font-size: 26px;
  line-height: 38px;
  overflow: hidden;
  display: -webkit-box !important;
  display: box !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.lookBook .bnr .txt em {
  margin-top: 4px;
  font-size: 15px;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lookBook .bnr .activeBn a {
  transform: scale(0.6) translateX(35px);
}
.lookBook .bnr .activeBn + li a {
  z-index: 2;
  transform: scale(1);
  box-shadow: 24px 20px 30px rgba(0, 0, 0, 0.12);
}
.lookBook .bnr .activeBn + li + li a {
  transform: scale(0.68) translateX(-55px);
}
.lookBook .bnr .activeBn + li .txt {
  transform: translateY(0);
}
.lookBook .swiperCtr.type0 {
  float: right;
  margin: -68px 1px 0 0;
}
.lookBook .swiperCtr.type0 a {
  background: none;
  z-index: 1;
}
.lookBook .swiperCtr.type0:after {
  content: "";
  display: block;
  position: absolute;
  left: -180px;
  top: 14px;
  width: 108px;
  height: 4px;
  background: #191919;
}
.lookBook .spMore {
  margin-top: 40px;
}

.mainMgz {
  margin-top: 120px;
}
.mainMgz a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.mainMgz img {
  width: 100%;
  height: auto;
}
.mainMgz .bx {
  position: relative;
  width: 100%;
  height: 362px;
  margin-top: 28px;
  padding-left: 690px;
  box-sizing: border-box;
}
.mainMgz .bx dl {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 390px;
}
.mainMgz .bx + .bx {
  margin-top: 120px;
  padding-left: 0;
  padding-right: 690px;
}
.mainMgz .bx + .bx dl {
  left: 0;
  right: auto;
}
.mainMgz .bx + .bx .bnr {
  left: auto;
  right: 0;
}
.mainMgz dt {
  overflow: hidden;
  max-height: 108px;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -0.3px;
}
.mainMgz .sub {
  overflow: hidden;
  max-height: 100px;
  margin-top: 20px;
  color: #767676;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.3px;
  display: -webkit-box !important;
  display: box !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.mainMgz .bnr {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
  height: 362px;
}
.mainMgz .bnr a img {
  transform: inherit;
  transition: all 0.3s ease;
}
.mainMgz .bnr a:hover img {
  transform: scale(1.04);
}
.mainMgz .gds {
  overflow: hidden;
  margin-top: 14px;
}
.mainMgz .gds li {
  float: left;
}
.mainMgz .gds li + li {
  margin-left: 10px;
}
.mainMgz .spMore {
  margin-top: 40px;
}

.mainRnk {
  margin-top: 80px;
}
.mainRnk .mnTitle {
  margin-bottom: 20px;
}
.mainRnk .goods_list .rnk {
  padding-top: 0;
}
.mainRnk .goods_list .rnk:after {
  display: none;
}
.mainRnk .goods_list .rnk ~ .bxWish .btWish {
  top: 30px;
}

.btmLink {
  overflow: hidden;
  margin-top: 160px;
}
.btmLink a {
  display: block;
}
.btmLink img {
  width: 100%;
  height: auto;
}

.sideL {
  overflow: hidden;
  float: left;
}
.sideL li {
  float: left;
  width: 220px;
  height: 170px;
}
.sideL li + li {
  margin-left: 20px;
}

.sideR {
  overflow: hidden;
  float: right;
}
.sideR li {
  width: 336px;
  height: 76px;
}
.sideR li + li {
  margin-top: 18px;
}/*# sourceMappingURL=main.css.map */